<div class="bg-black flex justify-center items-center min-h-screen">
    <div class=" border-red-600 w-[1000px] h-[700px] shadow-red-600 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] justify-center items-center flex flex-col gap-16">
        <p class="text-white text-sm">UIDesignDaily</p>
        <div class="flex flex-col justify-center items-center">
            <p class="text-red-600 text-[150px] font-semibold">404</p>
            <p class="text-white text-lg w-[370px] text-center">The link you clicked may be broken or the page may have been removed.</p>
        </div>
        <p class="text-white text-sm">Visit the <span class="underline text-red-600 cursor-pointer">home page</span> or <span class="underline text-red-600 cursor-pointer">contact</span> me</p>
    </div>
    <div class="absolute w-[500px] h-[500px] rounded-full left-[-150px] top-[-100px] border-red-600 border-8 shadow-red-600 shadow-[0_35px_100px_-15px_rgba(0,0,0,0.3)]"></div>
    <div class="absolute w-80 h-80 right-9 bottom-24 rounded-full border-red-600 border-8 shadow-red-600 shadow-[0_35px_100px_-15px_rgba(0,0,0,0.3)]"></div>
    <div class="absolute w-60 h-60 left-44 -bottom-10 rounded-full border-red-600 border-8 shadow-red-600 shadow-[0_35px_100px_-15px_rgba(0,0,0,0.3)]"></div>
    <div class="absolute w-36 h-36 top-5 right-36 rounded-full border-red-600 border-8 shadow-red-600 shadow-[0_35px_100px_-15px_rgba(0,0,0,0.3)]"></div>
</div>