<main class="dark:bg-black">
    <div class="w-screen h-screen flex flex-row justify-center items-center gap-20 z-[10]">
      <div #parallaxRef (mouseleave)="reset()" class="w-[450px] h-[450px] z-[999]">
        <img #ref src="/assets/profile-nobg.png" alt="Self drawing">
      </div>
      <div class="w-[800px] flex flex-col gap-8 z-[999]">
        <p id="title" class="dark:text-[#edfe01] text-[#F229C3] text-center font-concertOne text-8xl dark:drop-shadow-custom-yellow drop-shadow-custom-pink cursor-default">
          Hello, I'm 
          <span class="relative text-[rgba(255,255,255,0.1)] before:absolute before:w-full dark:before:text-[#edfe01] before:text-[#F229C3] before:overflow-hidden before:border-r-4 before:border-r-solid dark:before:border-r-[#edfe01] before:border-r-[#F229C3] dark:drop-shadow-custom-yellow drop-shadow-custom-pink" style="--i:0" data-text="......">......</span>
          <span class="relative text-[rgba(255,255,255,0.1)] before:absolute before:w-full dark:before:text-[#edfe01] before:text-[#F229C3] before:overflow-hidden before:border-r-4 before:border-r-solid dark:before:border-r-[#edfe01] before:border-r-[#F229C3] dark:drop-shadow-custom-yellow drop-shadow-custom-pink" style="--i:1" data-text="Gisa!">Gisa!</span>
          <span class="relative text-[rgba(255,255,255,0.1)] before:absolute before:w-full dark:before:text-[#edfe01] before:text-[#F229C3] before:overflow-hidden before:border-r-4 before:border-r-solid dark:before:border-r-[#edfe01] before:border-r-[#F229C3] dark:drop-shadow-custom-yellow drop-shadow-custom-pink" style="--i:2" data-text="Coder!">Coder!</span>
        </p>
        <div class="flex flex-col gap-8 justify-center items-center">
          <p class="dark:text-white text-justify font-mono cursor-default w-[500px]">Welcome to my portfolio, here you will find a couple of challenges made along with <a>ICodeThis</a>, and also little projects created to practice and learn new frameworks. I hope you appreciate the work you will find here, thanks for taking a look!</p>
          <div class="flex flex-col w-[500px] gap-8">
            <div class="flex flex-row justify-between">
              <a href="https://leetcode.com/u/GiselleLopes/" target="_blank" class="flex flex-row dark:text-white dark:hover:text-[#F2E205] hover:text-[#F229C3] hover:underline transform transition duration-300 font-mono font-semibold px-3 py-2 gap-2">
                <img src="/assets/icons/leetcode.svg" alt="LeetCode icon" class="dark:bg-[#F2E205] bg-[#F229C3] p-1 rounded-full w-8 h-8"/>
                <p class="mt-1">LeetCode</p>
              </a>
              <a href="https://github.com/Giselle10Gisa" target="_blank" class="flex flex-row dark:text-white dark:hover:text-[#F2E205] hover:text-[#F229C3] transform transition duration-300 font-mono font-semibold px-3 py-2 gap-2">
                <i class="pi pi-github dark:text-[#F2E205] text-[#F229C3]" style="font-size: 32px;"></i>
                <p class="mt-1 hover:underline">Github</p>
              </a>
              <a href="https://www.linkedin.com/in/giselle-machado-lopes-82a045262" target="_blank" class="flex flex-row dark:text-white dark:hover:text-[#F2E205] hover:text-[#F229C3] transform transition duration-300 font-mono font-semibold px-3 py-2 gap-2">
                <i class="pi pi-linkedin dark:text-[#F2E205] text-[#F229C3]" style="font-size: 32px;"></i>
                <p class="mt-1 hover:underline">Linkedin</p>
              </a>
            </div>
            <a [routerLink]="['/challenges']" class="dark:text-black text-white dark:hover:text-[#F2E205] hover:text-[#F229C3] dark:bg-[#F2E205] bg-[#F229C3] dark:hover:bg-black hover:bg-white dark:border-[#F2E205] border-[#F229C3] border-solid border-4 px-3 py-2 rounded-lg font-mono font-semibold text-center">Challenges</a>
          </div>
        </div>
      </div>
      <div class="fixed z-[9] top-0 left-0 w-full h-full bg-transparent overflow-hidden">
        <div *ngFor="let star of stars" class="star drop-shadow-custom-pink-star dark:drop-shadow-custom-white dark:text-white text-[#F229C3] z-[9] text-[20px] absolute top-[-20px]" 
          [style.left]="star.left + '%'" 
          [style.animationDuration]="star.duration + 's'" 
        >
          <i class="pi pi-star-fill" style="font-size: 1rem"></i>
        </div>
      </div>
    </div>
  </main>
  