#title span {
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--i));
}

#title span::before {
    content: attr(data-Text);
    animation: animate 3s linear infinite;
}

.star {
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes displayText {
    0% {
        display: inline-block;
    }
    33.33%,100% {
        display: none;
    }
}

@keyframes animate{
    0%,10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}