<div class="h-[85vh] w-full flex justify-center items-center dark:bg-black">
    <div class="cursor-pointer absolute top-[85px] left-5 text-[#F229C3] hover:text-[#AE1C8C] dark:text-[#F2E205] dark:hover:text-[#AEA41C] transition-all transform duration-300 text-3xl" [routerLink]="['/']">
        <i class="pi pi-arrow-circle-left"></i>
    </div>
    <p-carousel
        [value]="challenges"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        autoplayInterval="3000"
    >
        <ng-template let-challenge #item>
            <div (click)="navigateToChallenge(challenge.route)" class="h-[500px] cursor-pointer border border-surface border-[#F229C3] dark:border-[#F2E205] rounded-border m-2 p-4">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img
                            src="{{ challenge.preview }}"
                            [alt]="challenge.name"
                            class="object-cover w-full h-[400px] rounded-border" />
                    </div>
                </div>
                <div class="mb-4 font-medium font-mono dark:text-white">
                    {{ challenge.name }}
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>